*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #FD5241;
}
.container{
    width: 100vw;
    min-height:100vh;
    background-image: url("../images/indexbg1.png");
    background-repeat: no-repeat;
    background-size:100%;
}
.content{
    width: 100%;
    padding-bottom: 8.8rem;
    position: absolute;
    top: 34.8rem;
    left: 0;
}
.myBtn{
    position: fixed;
    bottom: 0;
    z-index: 98;
}
.myBtn a{
    text-decoration: none;
}
.myBtn p{
    text-align: center;
    font-size: 1.5rem;
    color: #333333;
    background-color: #F5F5F5;
    width: 50vw;
    padding: 1.4rem 0;
}
.btn_1{
    border-right: 1px solid #CCCCCC;
}
.fallInInfo,.myBtn{
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.introduce_3{
    padding: 0 4.5rem;
    margin-bottom: 2.35rem;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
}
.introduce_3 img{
    width: 1rem;
    height: 1rem;
}
.introduce_3 span{
    font-size:1.2rem;
    font-family:PingFang SC;
    font-weight:400;
    color: #FFFFFF;
}
.fallInInfo{
    margin: 0.8rem 0;
}
.fallInInfo p{
    width: 8rem;
    text-align: right;
    font-size: 1.5rem;
    color: #Ffffff;
}
.fallInInfo input{
    margin-left: 1rem;
    padding: 0 0.6rem;
    width:22rem;
    height:3.3rem;
    font-size: 1.2rem;
    color: #CCCCCC;
    background:#FFFFFF;
    border-radius:0.4rem;
    outline: none;
    border: 1px solid #FFFFFF;
}

#btn{
    font-size:1.5rem;
    font-family:PingFang SC;
    font-weight:500;
    color:#F23B50;
    background-color: white;
    padding: 0.6rem 6.5rem;
    border-radius: 1.65rem;
}
.btn{
    margin-top: 2rem;
}
/*#fallInInfo{*/
/*   display: none;*/
/*}*/



.background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: #FFFFFF;
    display: none;
}
.popup{
    width: 90vw;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup>div:nth-child(1){
    display: -webkit-flex;
   -webkit-justify-content: center;
    -webkit-align-items: center;
}
.successIcon{
    width: 3.95rem;
    height: 4rem;
}
.popup img{
    width: 3.95rem;
    height: 4rem;
}
.popup>p:nth-child(2){
    margin-top: 1.4rem;
    text-align: center;
    font-size: 1.5rem;
    color: #333333;
}
.popup>p:nth-child(3){
    margin-top: 1.1rem;
    text-align: center;
    font-size: 1.3rem;
    color: #999999;
}
.popup>div:nth-child(4){
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    margin-top: 4rem;
}
.popup>div:nth-child(4)>p{
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 0.6rem 6.5rem;
    background-color: #FE4E41;
    border-radius:2rem;
}
