[Unit]
Description=ApiGateway .core

[Service]
WorkingDirectory=/home/www/FaApi/Gateway/
ExecStart=/home/www/FaApi/Gateway/ApiGateway
RestartSec=20
SyslogIdentifier=dotnet-ApiGateway
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:9000

[Install]
WantedBy=multi-user.target