[Unit]
Description=ApiSms .core

[Service]
WorkingDirectory=/home/www/ApiSms/
ExecStart=dotnet ApiSms.dll
RestartSec=20
SyslogIdentifier=dotnet-ApiSms
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:9002

[Install]
WantedBy=multi-user.target