[Unit]
Description=ApiSms .core

[Service]
WorkingDirectory=/home/www/FaApi/ApiSms/
ExecStart=/home/www/FaApi/ApiSms/ApiSms
RestartSec=20
SyslogIdentifier=dotnet-ApiSms
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:9002

[Install]
WantedBy=multi-user.target