[Unit]
Description=ApiUpFile .core

[Service]
WorkingDirectory=/home/www/ApiUpFile/
ExecStart=dotnet ApiUpFile.dll
RestartSec=20
SyslogIdentifier=dotnet-ApiUpFile
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:9003

[Install]
WantedBy=multi-user.target