*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background: #F5F5F5;
}
.tag{
    margin: 1rem 1.4rem;
    height: 6.35rem;
    background-color: #FFFFFF;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
.tag>div{
    width: 10.7rem;
    height: 6.35rem;
    display: -webkit-flex;
    flex-direction: column;
   -webkit-justify-content: center;
    -webkit-align-items: center;
}
.tag>div:nth-child(1){
    border-bottom: 1px solid #FE4E41;
}
.tag p{
    text-align: center;
}
.tag>div>p:nth-child(1){
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.tag>div>p:nth-child(2){
    font-size: 1.3rem;
    line-height: 2rem;
}
.havePay{
    display: none;
}
.notPay{
    display: none;
}
.recordModules{
    margin: 1rem 1.4rem;
    width:34.7rem;
    /*height:16.1rem;*/
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius:0.4rem;
}
.recordModules p {
    font-size:1.4rem;
    font-family:PingFang SC;
    font-weight:500;
    /*line-height:1rem;*/
    color:rgba(51,51,51,1);
    opacity:1;
}
.recordModules span{
    font-size:1.4rem;
    font-family:PingFang SC;
    font-weight:500;
    /*line-height:2rem;*/
    color:rgba(51,51,51,1);
    opacity:1;
}
.recordModules_top{
    height: 12rem;
    border-bottom: 1px solid #F5F5F5;
    padding: 0 1.5rem;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -webkit-align-items: flex-start;
}
.recordModules_top>div{
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;
}
.recordModules_top>div>p:nth-child(1){
    width: 6rem;
    text-align: justify;
    padding-right: 0.5rem;
}
.recordModules_top>div>p:nth-child(1):after{
    content:"";
    display:inline-block;
    width:100%;
}
.recordModules_top>div>span:nth-child(2){
    padding-left: 0.5rem;
}
.recordModules_top>div>span:nth-child(2):after{
    content:"";
    display:inline-block;
    width:100%;
}
.recordModules_foot{
    height: 4rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    padding: 0 1.5rem;
}
.havePay,.notPay{
    display: none;
}
