*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #F5F5F5;
}
.content{

}
.modules{
    height: 6rem;
    margin: 1rem 1.4rem;
    background-color: #FFFFFF;
    border-radius: 0.4rem;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-justify-content: space-around;
}
.modules>div{
    padding:0 1.4rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
}
.modules>div:nth-child(1)>p{
    font-size: 1.4rem;
}
.modules>div:nth-child(2)>p{
    font-size: 1.3rem;
    font-family:PingFang SC;
    font-weight:500;
    line-height:1.85rem;
    color:rgba(153,153,153,1);
    opacity:1;
}
.noList{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.noList>p{
    font-size: 1.5rem;
    color: #CCCCCC;
}
