[Unit]
Description=ApiEtc .core

[Service]
WorkingDirectory=/home/www/FaApi/ApiEtc/
ExecStart=/home/www/FaApi/ApiEtc/ApiEtc
RestartSec=20
SyslogIdentifier=dotnet-ApiEtc
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:19200

[Install]
WantedBy=multi-user.target