[Unit]
Description=Idsvr4 .core

[Service]
WorkingDirectory=/home/www/FaApi/Idsvr4/
ExecStart=/home/www/FaApi/Idsvr4/Idsvr4
RestartSec=20
SyslogIdentifier=dotnet-Idsvr4
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://*:9001

[Install]
WantedBy=multi-user.target